<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039733825242-a975v9704of5amcfqssrsvd582jfqabh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039733825242-a975v9704of5amcfqssrsvd582jfqabh</string>
	<key>API_KEY</key>
	<string>AIzaSyCI9bG2B81xVxQicxDRE8rDa1Mrrwvml5w</string>
	<key>GCM_SENDER_ID</key>
	<string>1039733825242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-mock-up-6ddde</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-mock-up-6ddde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039733825242:ios:5b9f79cc2b78657babcfe3</string>
</dict>
</plist>